doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
	body
		.email_row
			.email_biggest_promo
				.email_wrap
					.xwinds_left
						.xwinds_hrefs
							img(src="https://www.winxdvd.com/letter/1128/icon.png")
							a.xwind_herf(href="https://www.winxdvd.com/specialoffer/paragon-software.htm").
								WinX DVD Ripper Platinum
						.xwinds_hrefs
							img(src="https://www.winxdvd.com/letter/1128/icon.png")
							a.xwind_herf(href="https://www.winxdvd.com/specialoffer/paragon-software.htm").
								WinX HD Video Converter Deluxe
					.xwinds_right
						.xwinds_hrefs
							img(src="https://www.winxdvd.com/letter/1128/icon.png")
							a.xwind_herf(href="https://www.winxdvd.com/specialoffer/paragon-software.htm").
								WinX DVD Copy Pro
						.xwinds_hrefs
							img(src="https://www.winxdvd.com/letter/1128/icon.png")
							a.xwind_herf.xwind_last(href="https://www.winxdvd.com/specialoffer/paragon-software.htm").
								2016 Christmas Gift Pack
					.learn_button
						a.learn_more(href="https://www.winxdvd.com/specialoffer/paragon-software.htm").
							Learn More >>
				.email_solutions
					.dear
						<br>
						p.dear_p.
							Dear
						.dear_descr
							a.dear_descr_href(href="#").
								Our reliable partner Digiarty is running the biggest 2016 X'mas deals of the DVD rip, DVD copy, HD/4K video download and convert software for only $19.95 each! You can also <strong> save up to 80% </strong> with the ultimate <strong>gift bundle for Christmas with only $30.95!</strong>
						p.dear_p2.
							This time-limited special price is offered exclusively for Paragon Software Newsletter subscribers. Life-time License! Free Upgrade!
						.button_check
							a.href_check(href="#").
								<strong>Check the Exclusive Deals for You >> </strong>
					.dvd_rip
						.title_dvd
							img(src="https://www.winxdvd.com/letter/1128/i1.png")
							a.href_dvd(href="#").
								DVD Rip, DVD Backup, DVD Decrypt Solution


						//- .mail_prod_item
						//- 	img.b(src="https://www.winxdvd.com/letter/1128/box1.png")

						//- .mail_p_prod_item
						//- 	p <strong>WinX DVD Ripper Platinum</strong><br>
						//- 	p World's No.1 fast DVD ripping software capable of ripping any DVD to mainstream videos and portable devices. 
						//- 	img.prod_button(src="https://www.winxdvd.com/letter/1128/btn1.png")
						//- 	img.prod_button(src="https://www.winxdvd.com/letter/1128/d.png")
						//- 	a.prod_href(href="http://www.winxdvd.com/download/winx-dvd-ripper-pt.exe").
						//- 		Free Trial

						//- .item_1
						//- 	img.g(src="https://www.winxdvd.com/letter/1128/box1.png")

						//- span.item_2
						//- 	p World's No.1 fast DVD ripping software capable of ripping any DVD to mainstream videos and portable devices
					.mail_product_wrap

						.mail_products_item
							img(src="https://www.winxdvd.com/letter/1128/box1.png")

					
						.mail_products_item World's No.1 fast DVD ripping software capable of ripping any DVD to mainstream videos and portable devices.

						img(scr="https://www.winxdvd.com/letter/1128/btn1.png")

