/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.block_1,
	.block_2,
	.block_3,
	.block1, 
	.block12, 
	.block13, 
	.block14, 
	.block123, 
	.block16 {
    	float: none;
    	width: 100%;
	}
	.footer {
		height: 1727px;
	}
	.footer_line {
	background-image: url(../images/footer_line.png);
	height: 2px;
	/*margin-bottom: 10px;*/
	}
	.blocks {
		font-size: 20px;
    	/*padding: 50px 25px;*/
    	margin: 0;
	}


	.hide {
    	display: none; 
	}
	.hide_arrow {
		display: none;
	}
	.hide + label ~ div{
	    display: none;
	}
	/* оформляем текст label */
	.hide + label {
	    padding: 0;
	    color: #c4d6f0;
	    font-weight: 600;
	    cursor: pointer;
	    display: inline-block;
	}
	
	/* вид текста label при активном переключателе */
	.hide:checked + label {
	    border-bottom: 0;
	}
	
	
	/* когда чекбокс активен показываем блоки с содержанием  */
	.hide:checked + label + div {
	    display: block; 
	}
	.none {
		color: #c4d6f0;
	}

	/* demo контейнер */
	
	.block112, .block123 {
    	margin-top: 0px;
	}
	.block1, .block12, .block13, .block16 {
    	float: none;
    	margin-top: 0px;
	}
	.block_3 {
		margin-top: 0;
	}
	.block1, .block12, .block13, .block16, .block123, .block112, .block14 {
    	/*padding-top: 10px;*/
	}
/* анимация при появлении блоков с содержанием */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}




.arrow,
.arrow_blue,
.arrow_footer {
    position: relative;
    top: 0;
    float: right;
    display: inline-block;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
	margin-right: 0.5em;
    /*transition: ease-in 0.2s;*/
}
.arrow_footer {
	height: 12px;
	width: 12px;
}
.arrow {
	background-image: url(../images/arrow_right.png);
}
.arrow_blue {
	background-image: url(../images/arrow_right_blue.png);
}
.actived {
    -moz-transform: rotate(0deg) !important; /* Для Firefox */
    -ms-transform: rotate(0deg) !important; /* Для IE */
    -webkit-transform: rotate(0deg) !important; /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg) !important; /* Для Opera */
    transform: rotate(0deg) !important;
	
}

/*-------End Sidr Menuu-------*/

.arrow {
	background-image: url(../images/arrow_right.png);
}
.arrow_blue {
	background-image: url(../images/arrow_right_blue.png);
}
.arrow_footer {
	background-image: url(../images/arrow_footer.png);
	left: 5px;
	top: 8px;
	margin: 0;
}
/*.actived {
    transform: rotate(0deg) !important;
}*/
.top_mnu {
	margin-bottom: 26px;
}
/*.arrow_up {
	text-align: center;
	margin-top: 30px;
}*/
.blocks {
	font-size: 18px;
}
.non p,
.non a {
	font-size: 16px;
}
.footer {
		
}/*

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}